In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.cluster import KMeans
import warnings
warnings.filterwarnings('ignore')           
%matplotlib inline

In [5]:
df = sns.load_dataset('iris')
X = df.drop(columns=['species'])                       
Y = df['species']                                       
header_X = X.columns                                   
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
kmeans = KMeans(n_clusters=3, random_state=123)         
kmeans.fit(X)                                           
res = pd.Series(kmeans.labels_)

In [9]:
case0 = Y[res==0]
print(case0.value_counts())

species
virginica     36
versicolor     2
Name: count, dtype: int64

In [11]:
case1 = Y[res==1]
print(case1.value_counts())

species
setosa    50
Name: count, dtype: int64

In [13]:
case2 = Y[res==2]
print(case2.value_counts())

species
versicolor    48
virginica     14
Name: count, dtype: int64

In [ ]:
learnedLabels = ['Virginica','Setosa','Versicolor']